.noteCard {
    margin: 20px;
    width: calc(100% - 40px); /* Full width minus the margin */
    max-height: 600px; /* Adjust this value as needed */
    overflow: hidden; /* Ensures content doesn't overflow the card */
}

.noteCard .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.noteCard img {
    max-width: 100%; /* Image will scale within card width */
    max-height: 100%; /* Image will scale within card height */
    object-fit: cover;
}
