.noteCard {
    margin: 20px;
    width: calc(100% - 40px); /* Full width minus the margin */
    max-height: 300px; /* Adjust this value as needed */
    overflow: hidden; /* Ensures content doesn't overflow the card */
}

.noteCard .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.noteCard img {
    max-width: 100px; /* Maximum width of the image */
    max-height: 100px; /* Maximum height of the image */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Preserve aspect ratio within max dimensions */
}